Prelimenary-Connection to IBM db2 warehouse

In [1]:
import ibm_db


#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "jxw93669"        # e.g. "abc12345"
dsn_pwd = "gltnrj1459-frtx9"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jxw93669;PWD=gltnrj1459-frtx9;
Connected to database:  BLUDB as user:  jxw93669 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

using ```ibm_db.exec_immediate()```

parameters of the function: 

    - Connection
    - Statment
    - Options

In [22]:
dropStmt = ibm_db.exec_immediate(conn, "drop table Trucks")

stmt = ibm_db.exec_immediate(conn, 
    "CREATE TABLE Trucks(\
        serial_no varchar(20) PRIMARY KEY NOT NULL,\
        model VARCHAR(20) NOT NULL,\
        manufacturer VARCHAR(20) NOT NULL,\
        Engine_size VARCHAR(20) NOT NULL,\
        Truck_class VARCHAR(20) NOT NULL)"
                            )
print("success")

success

In [24]:
InsertStmt = "INSERT INTO TRUCKS(serial_no, model, manufacturer, Engine_size, Truck_class)\
VALUES('AZ234', 'Benz', 'BMW', 'Big', 'Small');"

stmt = ibm_db.exec_immediate(conn, InsertStmt)


InserStmt2 = "INSERT INTO TRUCKS\
VALUES('BZ234', 'Volvo', 'BMW', 'Medium', 'Small');"

 SQLCODE=-803

In [28]:
InsertStmt2 = "INSERT INTO TRUCKS(serial_no, model, manufacturer, Engine_size, Truck_class)\
VALUES ('BZ234', 'Volvo', 'BMW', 'Medium', 'Small');"

stmt = ibm_db.exec_immediate(conn, InsertStmt2)

To see more in details look at Week3Lab2 NoteBook